<p>home works!</p>

<h1>Min första Angular sida</h1>

<main>
    <h2>Välkommen</h2>
    <p>Välkommen till min första webbsida byggt med Angular. <br> <br> Webbisdan består av tre sidor:</p>
    <nav><ul>
        <li><a routerLink="/">Startisda </a>(Du är här)</li>
        <li><a routerLink="/about">Om webbsidan </a>(Information om webbsidan och mitt arbete med den)</li>
        <li><a routerLink="/trivia">Kinesisk trivia </a>(Lite information som finner intressant/användbar om kina och kinesiska)</li>
    </ul></nav>
</main>
